<% layout('./layouts/boiler.ejs') %>
<body class="bg-light">

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <div class="card shadow text-center">
        <div class="card-body">
          <h3 class="text-danger">⏰ Paste Not Available</h3>
          <p class="mt-3">
            This paste has either:
          </p>
          <ul class="list-unstyled">
            <li>✔ Expired by time</li>
            <li>✔ Already read once</li>
            <li>✔ Deleted by system</li>
          </ul>

          <a href="/" class="btn btn-dark mt-3">
            Create New Paste
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
